.image{
    position: relative;
  }
  .name{
    position: absolute;
    visibility: hidden;
  }
  .image:hover .name{
    visibility: visible;
  }
  .dark{
    background-color: black;
    color: white;
  }